@model AddStaffViewModel
@{
    ViewData["Title"] = "AddStaff";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>Add Staff</h1>
<form method="post">
    <label>Name</label>
    <input type="text" class="form-control" asp-for="Name"/>
    <br />
    <label>Title</label>
    <input type="text" class="form-control" asp-for="Title" />
    <br />
      <label>Facebook URL</label>
    <input type="text" class="form-control" asp-for="FacebookURL" />
    <br />
      <label>Instagram URL</label>
    <input type="text" class="form-control" asp-for="InstagramURL" />
    <label>Twitter URL</label>
    <input type="text" class="form-control" asp-for="TwitterURL" />
    <br />
    <button class="btn  mb-1 btn-rounded  btn-outline-primary">Create Staff</button>
</form>

