@model List<TestimonialViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}
<h1>Testimonials</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Image</th>
        <th>Name</th>
        <th>Title</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Id</th>
            <td>@item.Image</td>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td><a href="/Testimonial/UpdateTestimonial/@item.Id" class="btn mb-1 btn-rounded  btn-outline-success">Update</a></td>
            <td><a href="/Testimonial/DeleteTestimonial/@item.Id" class="btn mb-1 btn-rounded  btn-outline-danger">Delete</a></td>
        </tr>
    }
</table>
<a href="/Testimonial/AddTestimonial/" class="btn mb-1 btn-rounded  btn-outline-primary">Add Testimonial</a>